body{
    margin: 0%;
    margin-top: -20px;
    text-align: center;
}

.titulos{
    background-color: rgb(32, 175, 175);
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.a a{
    background-color: white;
    text-decoration: none;
    color:rgb(32, 175, 175) ;
    margin: 5px;
}

.a{
    margin: 10px;
}

.divs{
    background-color: black;
    padding-bottom: 500px;
}

.id{
    color: aquamarine;
    background-color: rgb(255, 156, 156);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
}

#newColors{
    padding-right: 150px;
}
